.email-support {
  display: flex;
  align-items: center;
  background: #e3ecf3;
  border-radius: 10px;
  max-width: 614px;
  min-height: 70px;
  margin: 43px auto 0;
  //padding: 0 0 2px 37px;
  padding: 10px 0 12px 17px;

  &_bottom {
    margin: 32px auto 0;
  }

  &__text {
    color: #343434;
    font-size: 20px;
    line-height: 35px;
    font-style: italic;
  }

  .switch,
  &__question {
    flex-shrink: 0;
  }
  &__question {
    position: relative;
    cursor: pointer;
    background: transparent url($images-path + 'sprite.png') map_get($email_support, position) no-repeat;
    width: map_get($email_support, width);
    height: map_get($email_support, height);
    margin: 2px 10px 0 23px;

    &:hover {
      .email-support__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 1;
    top: 65px;
    left: -214px;
    min-height: 121px;
    width: 100%;
    max-width: 461px;
    font-size: 18px;
    line-height: 28px;
    color: #665147;
    background: #fbe7bc;
    border-radius: 10px;
    padding: 18px 25px 18px 25px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &::after {
      content: '';
      position: absolute;
      top: -12px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fbe7bc;
      transform: translate(-50%, 0);
    }

    &_over {
      top: auto;
      bottom: 65px;

      &::after {
        top: auto;
        bottom: -12px;
        border-top: 12px solid #fbe7bc;
        border-bottom: none;
      }
    }
  }
  @include respond(mobile) {
    &__text {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
