.error-message {
  background: #fff8e8;
  box-shadow: 0 0 9px 0 rgba(38, 38, 44, 0.35);
  padding: 12px 20px;
  color: #343434;
  border-radius: 5px;
  z-index: 10000010;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%,-45%) rotate(45deg);
    width: 12px;
    height: 12px;
    background: #fff8e8;
    box-shadow: -2px -2px 2px 0px rgba(38, 38, 44, 0.15);
  }
}