.step {
  display: block;

  &_hidden {
    display: none;
  }

  &__arrow {
    background: transparent url($images-path + 'sprite.png') map_get($step_arrow, position) no-repeat;
    width: map_get($step_arrow, width);
    height: map_get($step_arrow, height);
    margin: 40px auto 37px;
  }

  &__description {
    color: #343434;
    font-size: 20px;
    line-height: 30px;

    &_video {
      color: #fff;
      margin: 0 0 25px 0;
    }
  }

  &__hint {
    color: #949393;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    margin: 14px 0 0 0;

    &_fsn {
      font-style: normal;
    }
  }

  &__example {
    @extend .step__hint;

    &::before {
      content: 'Пример:';
      font-weight: 700;
    }
  }

  &__label {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    color: #343434;
    margin: 36px 0 -4px 0;
    display: block;

    &-bold {
      font-weight: 700;
    }
    &_bmt {
      margin: 60px 0 -4px 0;
    }
  }

  &__text-input {
    width: 100%;
    color: #343434;
    font-size: 20px;
    line-height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 8px 2px;
    margin: 20px 0 0 0;

    &.error,
    &.check-error {
      border-bottom-color: #fe5564;
    }

    @include placeholder() {
      color: #b7b7b7;
      opacity: 1;
    }

    &_bmt {
      margin: 35px 0 0 0;
    }
  }

  &__textarea-title {
    display: block;
    margin: 50px 0 22px -2px;
    font-style: italic;
    font-size: 20px;
  }

  &__textarea {
    @extend .step__text-input;
    display: block;
    line-height: 30px;
    resize: none;
    padding: 0 0 8px 1px;
    margin: 0 0 0 0;
    min-height: 41px;

    &[readonly] {
      opacity: 0.45;
    }
    &_bmt {
      margin: 35px 0 0 0;
    }
  }

  &__hidden-block-title {
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    color: #343434;
    border: none;
    display: block;
    margin: 34px 0 0 0;
    transition: color .3s ease;

    &:hover {
      color: lighten(#343434, 20%);
    }
  }

  &__hidden-block {
    display: none;
    margin: 23px 0 0 0;
  }

  &__hint-list {
    li {
      @extend  .step__hint;
      margin: 10px 0 0 0;

      &::before {
        content: '•';
        display: inline-block;
        margin: 0 5px 0 0;
      }
    }
  }

  &__mode {
    position: relative;
    color: #343434;
    font-style: italic;
    font-size: 20px;
    margin: 37px 0 0 -2px;
  }

  &__mode-block {
    display: flex;
    align-items: center;
    padding: 0 0 2px 21px;
    position: absolute;
    right: -1px;
    top: -12px;
    background: #e3ecf3;
    width: 213px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-style: italic;
    color: #343434;
  }

  &__button-next {
    position: relative;
    cursor: pointer;
    width: 160px;
    height: 60px;
    line-height: 52px;
    background: none;
    font-size: 20px;
    color: #343434;
    text-align: center;
    margin: 35px auto 0;
    transition: font-size .2s ease;
    border: none;
    outline: none;

    &::before {
      content: '';
      position: absolute;
      left: -3px;
      bottom: 3px;
      width: 156px;
      height: 54px;
      border: 3px solid #ffcb70;
      border-radius: 33px;
      will-change: transform;
      transition: transform .3s ease;
    }

    &.zeroclipboard-is-hover,
    &:focus,
    &:hover {
      &::before {
        transform: scale(1.1);
      }
    }

    @include respond(mobile) {
      font-size: 18px;
    }
  }

  &__button-copy {
    @extend .step__button-next;
    width: 190px;
    margin: 43px auto 0;

    &::before {
      width: 186px;
    }
  }

  &__share-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__button-copy-inline,
  &__button-fb,
  &__button-vk {
    @extend .step__button-next;
    display: inline-block;
    width: 180px;
    height: 65px;
    margin: 43px 10px 0;

    &::before {
      width: 176px;
    }

    @include respond((max-width: 600px)) {
      margin-top: 20px;
    }
  }
  &__button-fb {
    color: #4c68b3;

    &::before {
      border-color: #4c68b3;
    }
  }
  &__button-vk {
    color: #4c77a9;

    &::before {
      border-color: #4c77a9;
    }
  }

  &__button-get-result,
  &__button-finish {
    cursor: pointer;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    //background: #35ab5c;
    @include funny-gradient();

    width: 100%;
    height: 90px;
    line-height: 86px;
    margin: 63px auto 0;
    border: 0;
    outline: none;
    border-radius: 46px;
    padding: 0 0 0 20px;
    transition: all .3s ease;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      left: -15px;
      top: -2px;
      background: transparent url($images-path + 'sprite.png') map_get($finish_icon, position) no-repeat;
      width: map_get($finish_icon, width);
      height: map_get($finish_icon, height);
    }

    &:hover{
      transform: scale(1.05);
      //background: lighten(#35ab5c, 10%);
    }
  }

  @include respond(mobile) {
    &__hint,
    &__label,
    &__textarea,
    &__text-input,
    &__description,
    &__hidden-block-title,
    &__mode,
    &__mode-block
    {
      font-size: 16px;
    }
    &__textarea-title {
      font-size: 18px;
      margin-left: 0;
    }
  }
  @include respond((max-width: 600px)) {
    &__mode-block {
      position: static;
      margin: 20px 0 20px auto;
    }
  }
}