.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0 0;

  &_hidden {
    display: none;
  }

  &__item {
    position: relative;
    min-height: 40px;
    line-height: 40px;
    background: #e3ecf3;
    font-size: 16px;
    color: #343434;
    text-align: center;
    border-radius: 100px;
    padding: 8px 45px;
    margin: 0 10px 10px 0;

    &::before {
      content: attr(data-weight);
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translate(0, -50%);
      color: #343434;
      font-size: 16px;
      font-weight: 700;
    }

    &:last-child {
      margin: 0 0 10px 0;
    }

    &_active {
      .tag-cloud__icon {
        transform: translate(0, -50%);
      }
    }

    @include respond(mobile) {
      min-height: 30px;
      line-height: 30px;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    right: 16px;
    //top: 15px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    background: transparent url($images-path + 'sprite.png') map_get($tag_cloud_remove, position) no-repeat;
    width: map_get($tag_cloud_remove, width);
    height: map_get($tag_cloud_remove, height);
    cursor: pointer;
    transition: transform 500ms linear;
  }
}

.tag-marks {
  margin: 45px -5px 0;
  display: flex;
  justify-content: space-between;

  &__item {
    cursor: pointer;
    font-size: 20px;
    color: #343434;
    border-bottom: 1px dashed #000;
    margin: 0 5px;

    &_active {
      border-bottom: none;
    }

    @include respond(mobile) {
      font-size: 16px;
    }
  }
}