.uploaded-images {
  display: flex;
  flex-wrap: wrap;
  margin: 42px -12px 0;
}

.uploaded-form {
  position:relative;
  width: 187px;
  height: 133px;
  margin: 0 12px 25px;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    background: transparent url($images-path + 'add-image.png') 0 0 no-repeat;
    width: 187px;
    height: 133px;
    display: block;
    transition: opacity .4s ease;

    .dz-drag-hover & {
      opacity: .5;
    }
  }
}

.upload-image {
  background-size: cover;
  display: block;
  width: 187px;
  height: 133px;
  position: relative;
  border-radius: 10px;
  margin: 0 12px 25px;
  overflow: hidden;

  //&:nth-child(3n) {
  //  margin: 0 0 25px 0;
  //}
  img {
    border-radius: 10px;
  }
  &__delete {
    display: block;
    position: absolute;
    z-index: 5;
    padding: 1px 0 3px 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
    bottom: 0;
    text-align: center;
    color: #FFF;
    border-bottom: none;
    border-radius: 0 0 10px 10px;

    &:hover {
      text-decoration: none;
    }
  }
}

.profile-photo {
  position: relative;
  width: 143px;
  height: 143px;
  margin: 0 auto 51px;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: block;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    background: transparent url($images-path + 'profile_avatar.png') 0 0 no-repeat;
    &--uploaded {
      background-image: none;
    }
    img {
      border-radius: 50%;
      max-width: 100%;
    }
  }
  &__delete {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    opacity: 0;
    background: transparent url($images-path + 'sprite.png') map_get($tag_cloud_remove, position) no-repeat;
    width: map_get($tag_cloud_remove, width);
    height: map_get($tag_cloud_remove, height);
    border: none;

    transition: opacity 500ms;
  }
  &__label--uploaded + &__delete {
    display: block;
  }

  &__label:hover + &__delete,
  &__delete:hover,
  &__delete:focus {
    opacity: 1;
  }
}
