.uploaded-images-single {
  margin: 34px 0 0 0;
  text-align: center;
}

.uploaded-form-single {
  position:relative;
  margin-left: auto;
  margin-right: auto;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    //background: transparent url($images-path + 'add-image.png') 0 0 no-repeat;
    //width: 604px;
    //height: 378px;
    display: block;
    width: auto;
    height: auto;
    transition: opacity .4s ease;

    img {
      max-width: 100%;
    }
    &_dragged {
      opacity: .5;
    }
  }
}

.uploaded-images-single .upload-image {
  display: inline-block;
  background-size: cover;
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 10px;
  font-size: 0;
  margin-right: 0;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &__edit {
    display: block;
    position: absolute;
    z-index: 5;
    padding: 5px 10px;

    background: rgba(0,0,0,0.6);
    font-size: 14px;
    top: 10px;
    left: 10px;
    text-align: center;
    color: #FFF;
    border-bottom: none;
    border-radius: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  &__delete {
    display: block;
    position: absolute;
    z-index: 5;
    padding: 1px 0 3px 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
    bottom: 0;
    text-align: center;
    color: #FFF;
    border-bottom: none;
    border-radius: 0 0 10px 10px;

    &:hover {
      text-decoration: none;
    }
  }
}
