@mixin respond($point) {

  $mobile: "(max-width: 980px)";
  $small-monitor: "(max-width: 1399px)";

  @if $point == small-monitor {
    @media #{$small-monitor} { @content; }
  }
  @else if $point == mobile {
    @media #{$mobile} { @content; }
  }
  @else {
    @media #{$point} { @content; }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin funny-gradient {
  background: #66c07b;
  background: -moz-linear-gradient(left, #66c07b 0%, #93d570 50%, #66c07b 100%);
  background: -webkit-linear-gradient(left, #66c07b 0%, #93d570 50%, #66c07b 100%);
  background: linear-gradient(to right, #66c07b 0%, #93d570 50%, #66c07b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66c07b', endColorstr='#93d570', GradientType=1);
  background-size: 200% 100%;

  animation: animateGradient 3s linear infinite;
}