$fonts-path: '../fonts/';
$images-path: '../i/origin/'; //для продакшена сменить на ../i/min/

$ubuntu: 'Ubuntu', sans-serif;

$color-actions: #ea6148;
$color-actions-light: #f9cfc8;
$color-preferences: #55aeae;
$color-preferences-light: #cce7e7;
$color-sides: #5b72a8;
$color-sides-light: #cad2e4;
$color-meanings: #fdc23e; //теперь это ценности
$color-meanings-light: #f7e3b9; //теперь это ценности
