.questionnaire {
  display: none;
  position: relative;
  //height: 643px;
  max-width: 800px;
  margin: 18px 0 0 0;

  //&::before {
  //  content: '';
  //  position: absolute;
  //  background: transparent url($images-path + 'questionnaire.jpg') 0 0 no-repeat;
  //  top: 0;
  //  left: -96px;
  //  width: 100%;
  //  height: 100%;
  //}

  img {
    max-width: 100%;
  }
  &__title {
    color: #3176C1;
    cursor: pointer;
  }
}

.share-360 {
  margin: 37px 0 0 0;

  &__links {
    display: flex;
    justify-content: space-between;
    padding: 0 52px 0 0;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__link {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    cursor: pointer;
    margin: 0 10px;
  }

  &__tab {
    margin: 16px 0 0 0;
    display: none;

    &:first-child {
      display: block;
    }

    .expanding-wrapper {
      margin: 40px 0 0 0;
    }
  }

  &__buttons {
    display: flex;
  }

  &__message-success {
    display: inline-block;
    width: 283px;
    text-align: center;
    color: #33691E;
    font-size: 20px;
  }

  &__button-save {
    position: relative;
    cursor: pointer;
    width: 323px;
    height: 60px;
    border: 0;
    outline: none;
    line-height: 52px;
    background: none;
    font-size: 20px;
    color: #343434;
    text-align: center;
    margin: 33px auto 0;
    transition: font-size .2s ease;

    &::before {
      content: '';
      position: absolute;
      left: -3px;
      bottom: 1px;
      width: 319px;
      height: 54px;
      border: 3px solid #ffcb70;
      border-radius: 33px;
      will-change: transform;
      transition: transform .3s ease;
    }

    &:hover {
      &::before {
        transform: scale(1.1);
      }
    }
  }

  @include respond(mobile) {
    &__link {
      font-size: 18px;
    }
  }
}

.answers {
  margin: 70px 0 0 0;

  &__title {
    font-size: 20px;
    color: #343434;
    font-weight: 700;
    text-align: center;
  }

  &__filter-wrap {
    position: relative;
    margin: 20px 0 0 0;
  }

  &__filter {
    margin: 20px 0 0 -75px;
    display: flex;
    flex-wrap: wrap;
    width: 763px;

    @include respond((max-width: 800px)) {
      margin-left: 0;
      width: 100%
    }
  }

  &__filter-item {
    cursor: pointer;
    font-size: 20px;
    color: #343434;
    font-weight: 700;
    margin: 0 29px 16px 0;
  }

  &__block {
    margin: 38px 0 0;
  }

  &__block-title {
    font-size: 20px;
    color: #1d1b1a;
    font-style: italic;
    background: #e3ecf3;
    width: 100%;
    padding: 11px 10px 15px 19px;
    border-radius: 8px;
  }

  &__item {
    margin: 37px 0 0 0;

    &:last-child {
      margin: 37px 0 71px 0;
    }
  }

  &__item-title {
    font-size: 20px;
    color: #343434;
    font-weight: 700;
  }

  &__item-text {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
    margin: 8px 0 0 0;
  }
  @include respond(mobile) {
    &__title {
      font-size: 18px;
    }
    &__filter-item,
    &__block-title,
    &__item-title,
    &__item-text {
      font-size: 16px;
    }
    &__item {
      margin-top: 20px;
    }
  }
}

