.fairytale {
  &_line {
    display: flex;
    margin: 36px 0;
  }
  &__label {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    color: #343434;
    margin: 5px 0;
    display: block;
  }
  &__text-input {
    width: 100%;
    color: #343434;
    font-size: 20px;
    line-height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 8px 2px;
    margin: 0 0 0 0;

    @include placeholder() {
      color: #b7b7b7;
      opacity: 1;
    }
  }
  &_pretext {
    flex-grow: 0;
    margin-right: 30px;
  }
  &_usertext {
    flex-grow: 1;
  }

  @include respond(mobile) {
    &_line {
      margin-top: 26px;
      margin-bottom: 26px;
      flex-wrap: wrap;
    }
    &__label {
      font-size: 16px;
    }
    &__text-input {
      font-size: 16px;
      line-height: 22px;
    }
    &_pretext,
    &_usertext {
      width: 100%;
    }
    &_usertext,
    .expanding-wrapper {
      margin-top: 10px;
    }
  }
}