.metaphora {
  display: flex;
  align-items: center;
  margin: 71px 0 0 0;

  &_reverse {
    flex-direction: row-reverse;
  }

  &_city {
    margin: 130px 0 0 0;
  }

  &_animal {
    margin: 160px 0 0 0
  }

  &_weather {
    margin: 159px 0 0 0;
  }

  &_river {
    margin: 158px 0 0 0;
  }

  &_insect {
    margin: 153px 0 0 0;
  }

  &__image {
    width: calc(100% - 300px);
    background: transparent none 100% 0 no-repeat;

    &_bird {
      background-image: url($images-path + 'bird.png');
      background-position: 64% 0;
      height: 130px;
    }

    &_city {
      background-image: url($images-path + 'city.png');
      background-position: 0 0;
      height: 156px;
    }

    &_animal {
      background-image: url($images-path + 'animal.png');
      background-position: 64% 0;
      height: 129px;
    }

    &_weather {
      background-image: url($images-path + 'weather.png');
      background-position: 23% 0;
      height: 117px;
    }

    &_river {
      background-image: url($images-path + 'river.png');
      background-position: 65% 0;
      height: 79px;
    }

    &_insect {
      background-image: url($images-path + 'insect.png');
      background-position: 48% 0;
      height: 120px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &__label {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
    width: 250px;
    margin: 6px 0 0 0;

    &_ego {
      margin: -13px 0 0 0;
    }
  }

  &__input {
    width: 100%;
    color: #343434;
    font-size: 20px;
    line-height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #d8d8d8;
    padding: 0 0 7px 0;
    margin: 10px 0 0 0;

    @include placeholder() {
      color: #b7b7b7;
      opacity: 1;
    }
  }

  @include respond((max-width: 600px)) {
    flex-wrap: wrap;

    &__image {
      order: 0;
      background-position: center;
    }
    &__content {
      order: 1;
    }
    &__label {
      font-size: 18px;
    }
    &__input,
    &__content {
      font-size: 16px;
    }
    &__image,
    &__label,
    &__content {
      width: 100%;
    }
  }
}