.counter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e3ecf3;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 103px;
  justify-content: space-between;
  margin: 50px auto;
  padding: 0 30px;
  max-width: 365px;
}

.counter__num {
  font-size: 60px;
  font-weight: 400;
}

.counter__btn {
  background: #b2bec8;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  cursor: pointer;
  position: relative;
  height: 56px;
  width: 56px;

  &:after {
    content: '';
    left: 50%;
    position: absolute;
    transform: translate(-35%,-50%);
    top: 50%;
  }
}

.counter__restart:after,
.counter__play:after {
  border: 10px solid transparent;
  border-left: 15px solid #fff;
  border-right: 0 solid #fff;

  height: 0;
  width: 0;
}
.counter__pause:after {
  border-left: 7px solid #fff;
  border-right: 7px solid #fff;
  transform: translate(-50%, -50%);

  height: 20px;
  width: 5px;
}

@include respond((max-width: 400px)) {
  .counter {
    height: 83px;
  }
  .counter__num {
    font-size: 40px;
  }
  .counter__btn {
    height: 45px;
    width: 45px;
  }
}