.page-title {
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  font-weight: 700;
  height: 218px;
  justify-content: center;
  margin-bottom: 70px;

  .section__strengths & {
    background: #5b72a8;
  }

  .section__preferences & {
    background: #55aeae;
  }

  .section__meaning & {
    background: #fdc23e;
  }

  .section__takeaction & {
    background: #ea6148;
  }
}

.content__left {
  display: inline-block;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  max-width: 640px;
}

.content__right {
  display: inline-block;
  position: relative;
  width: 263px;
}

.diary-wrap {
  display: flex;
  justify-content: space-between;
}

.diary {

  &__filter {
    margin-bottom: 35px;
  }

  &__filter > li {
    display: inline-block;
  }

  &__filter-item {
    color: #343434;
    cursor: pointer;
    font-size: 20px;
    margin-right: 70px;
  }

  & .tag-cloud {
    margin-bottom: 80px;
  }

  & .tag-cloud__icon {
    transform: translate(0, -50%);
  }

  &__item-row {
    margin-bottom: 75px;
  }

  &__item-title {
    color: #343434;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 35px;
  }

  &__item-text {
    color: #343434;
    font-size: 18px;
    line-height: 180%;
  }

  &__result-item {
    margin-bottom: 100px;
  }

  &__result-item__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__header-title {
    display: inline-block;
  }

  &__header-title div {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

   &__header-title span {
      color: #aaaaaa;
      font-size: 18px;
   }

  &__result-item__header .btn-go {
    display: inline-block;
  }

  & .btn-go {
      flex-shrink: 0;
      background: none;
      border-bottom: none;
      color: #35ab5d;
      cursor: pointer;
      height: 40px;
      font-size: 20px;
      line-height: 170%;
      margin: 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      -webkit-transition: font-size .2s ease;
      transition: font-size .2s ease;
      width: 130px;
  }

  & .btn-go:before {
      border: 2px solid #35ab5d;
      border-radius: 33px;
      bottom: 0;
      content: '';
      height: 40px;
      left: -3px;
      position: absolute;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease,-webkit-transform .3s ease;
      width: 130px;
      will-change: transform;
  }

  & .btn-go:hover:before {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  & .sep {
    background: #edf2f6;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 9px;
    margin-bottom: 80px;
  }

  &__subtitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e3ecf3;
    border-radius: 12px;
    color: #343434;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    font-size: 20px;
    font-style: italic;
    justify-content: space-between;
    margin: 0 0 30px 0;
    padding: 12px 20px;
    width: 100%;
  }

  &__result-item-p {
    color: #343434;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 60px;
  }

  &__result-item-images {
    color: #343434;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;

    img {
      border-radius: 10px;
      margin: 0 10px 20px;
    }
  }

  &__result-item-fullwidth-img {
    color: #343434;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;

    img {
      border-radius: 20px;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__result-item-p p {
    margin-bottom: 20px;
  }

  &__result-item-p img {
    border-radius: 20px;
    height: auto;
    margin-bottom: 20px;
    max-width: 90%;
  }

  &__result-item b {
    font-weight: 700;
  }


  &__result-item .colorpicker__item {
    display: block;
    margin-top: 14px;
  }
}

.archive {
  position: relative;
  //position: absolute;
  //position: sticky;
  
  &__parent  {
    margin-bottom: 40px;
    margin-top: 30px;
  }

  &__parent-link {
    border: none;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #343434;
    text-decoration: none;

    a {
      color: #343434;
      text-decoration: none;
      border-bottom: none;
    }
  }

  &__parent-link:before {
    border-radius: 100%;
    content: '';
    display: inline-block;
    height: 13px;
    left: 0;
    margin-right: 10px;
    position: relative;
    top: 0;
    width: 13px;
  }

  .strengths &__parent-link:before {
    background: #5b72a8;
  }

  .preferences &__parent-link:before {
    background: #55aeae;
  }

  .meaning &__parent-link:before {
    background: #fdc23e;
  }

  .takeaction &__parent-link:before {
    background: #ea6148;
  }

  &__parent-link > i.arrow {
    // $sections_arrow
    //content: "";
    background: transparent url($images-path + '/sprite.png') map_get($sections_arrow, position) no-repeat;
    width: map_get($sections_arrow, width);
    height: map_get($sections_arrow, height);
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    top: 10px;
    cursor: pointer;
  }

  &__child {
    display: block;
  }

  &__link-block a {
    align-items: center;
    background: transparent;
    border-radius: 100px;
    border-bottom: none;
    color: #343434;
    display: flex;
    font-size: 18px;
    min-height: 40px;
    padding: 10px 25px;
    text-decoration: none;
    transition: all .3s ease; 
    width: 100%;
  }

  &__link-block a.current {
    background: #ecebe9;
  }
  &__link-block a:focus,
  &__link-block a:hover {
    background: #f4f1ee;
  }

  & .archive-active .archive__parent-link > i.arrow {
    background-position: map_get($sections_arrow_hover, position);
  }
}

.border-bottom.active:after {
  content: none;
}


.tabs__caption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: -1px 0 0 -1px;
}

.tabs__caption li:last-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: -2px;
  z-index: -1;
  height: 5px;
}

.tabs__caption:after {
  content: '';
  display: table;
  clear: both;
}

.tabs__caption li {
  position: relative;
}

.tabs__caption li:not(.active) {
  cursor: pointer;
}

.tabs__caption li:not(.active):hover {
}

.tabs__caption .active {
}

.tabs__caption .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
}

.tabs__content {
  display: none;
  background: #FFF;
}

.tabs__content.active {
  display: block;
}
.tag-cloud.tabs__content.active {
  display: flex;
}


.fixed {
  position: fixed;
  top: 0;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}



@include respond(mobile) {
  .page-title {
    font-size: 40px;
  }
  .diary-wrap {
    padding: 0 20px;
  }
  .main {
    margin-top: 90px;
  }
  .diary__item-title {
    font-size: 20px;
  }
  .diary__item-text {
    font-size: 16px;
  }
  .diary__result-item__header {
    flex-wrap: wrap;
  }
  .diary__header-title {
    margin-bottom: 20px;

    div {
      font-size: 25px;
    }
    span {
      font-size: 18px;
    }
  }
  .diary__subtitle {
    font-size: 18px;
  }

  .diary__filter-item {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .diary__result-item-p {
    font-size: 16px;
  }
}
@include respond((max-width: 600px)) {
  .content__right {
    display: none;
  }
}