@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), local('Ubuntu'), url($fonts-path +  'Ubuntu-R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url($fonts-path +  'Ubuntu-RI.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url($fonts-path + 'Ubuntu-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold Italic'), local('Ubuntu-Bold-Italic'), url($fonts-path + 'Ubuntu-BI.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}