.footer-wrap {
  width: 100%;
  height: 60px;
  border-top: 1px solid #ebebeb;
  //position: fixed;
  //bottom: -1px;
  background: #fff;
  z-index: 2;
  //transform: translate(0, 60px);
  //transition: transform .3s ease;

  //&_displayed {
  //  transform: translate(0, 0);
  //}
}
.footer-links {
  display: flex;
  justify-content: space-around;
  max-width: 680px;
  margin: 0 auto;

  &__item {
    padding: 10px;
    font-size: 0.9em;
  }
  a {
    color: #343434;
    border-color: #343434;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 452px;
  margin: 0 auto;

  &__item {
    position: relative;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 98px;
    height: 59px;
    transition: background .3s ease;

    &::before {
      content: '';
      display: block;
      background: transparent url($images-path + 'sprite.png') 0 0 no-repeat;
    }

    &_help {
      &::before {
        background-position: map_get($footer_help, position);
        width: map_get($footer_help, width);
        height: map_get($footer_help, height);
      }
    }

    &_community {
      &::before {
        background-position: map_get($footer_community, position);
        width: map_get($footer_community, width);
        height: map_get($footer_community, height);
      }
    }

    &_next {
      &::before {
        background-position: map_get($footer_next, position);
        width: map_get($footer_next, width);
        height: map_get($footer_next, height);
      }
    }

    &:hover {
      background: #ebebeb;

      .footer__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__tooltip {
    position: absolute;
    top: -50px;
    left: -59px;
    height: 35px;
    width: 211px;
    font-size: 13px;
    line-height: 35px;
    color: #665147;
    font-weight: 700;
    text-align: center;
    background: #fbe7bc;
    text-transform: uppercase;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #fbe7bc;
      transform: translate(-50%, 0);
    }
  }
}

@include respond((max-width: 600px)) {
  .footer__item_next .footer__tooltip {
    left: -119px;
    &:after {
      left: 78%;
    }
  }
  .footer__item_help .footer__tooltip {
    left: 11px;
    &:after {
      left: 16%;
    }
  }
}
