* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $ubuntu;
  font-weight: inherit;
  color: inherit;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

input, textarea {
  outline: none;
  border: none;
  background: none;
}

a {
  color: #35ab5c;
  text-decoration: none;
  border-bottom: 1px solid #35ab5c;
  transition: all .3s ease;

  &:hover {
    border-bottom-color: #fff;
  }
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.clearfix {
  clear: both;
}

.video-js {
  margin: 14px auto 0;

  &:hover .vjs-big-play-button {
    background-color: transparent;
  }

  .vjs-big-play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97px;
    height: 76px;
    background: transparent url($images-path + 'video_play.png') 0 0 no-repeat;
    border: none;
    border-radius: 0;

    &:hover {
      background-color: transparent;
    }
    &::before {
      display: none;
    }
  }
}

.expanding-wrapper {
  margin: 25px 0 0 0;
}
.expanding-clone {
  min-height: 41px !important;
}

.slaask-button {
  z-index: 2147483640 !important;
}