.main {
  margin: 157px 0 0 0;
}

.content-width {
  max-width: 612px;
  margin: 0 auto;

  &_wide {
    max-width: 1001px;
  }
}

.content {
  margin: 0 auto 91px;
  opacity: 0;
  transition: opacity 1.5s ease;

  &_displayed {
    opacity: 1;
  }
}

.topic {
  font-weight: 700;
  font-size: 40px;
  color: #343434;
  text-align: center;
  margin: 59px 0 0 0;

  &_exercises {
    margin: 39px 0 0 0;
    font-size: 30px;
  }
}

.description {
  color: #343434;
  font-size: 20px;
  line-height: 35px;
  max-width: 612px;
  margin: 69px auto 0;

  p {
    margin-bottom: 35px;
  }
}
.wiw-page-tests .description {
  max-width: 692px;
}

section.video {
  width: 100%;
  background: #303337;
  margin: 82px 0 0 0;
  padding: 36px 0 55px 0;
  .video_container {
    margin: 0 auto;
    max-width: 645px;
    width: 100%;
  }
}

.quote {
  background: #e3ecf3;
  border-radius: 16px;
  margin: 33px 0 0 0;
  padding: 11px 10px 14px 10px;

  &__text {
    color: #91a1ad;
    font-size: 20px;
    line-height: 35px;
    font-style: italic;
    text-align: center;

    &_title {
      color: #343434;
      margin: 0 0 4px 0;
    }

    @include respond(mobile) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.bi {
  font-style: italic;
  font-weight: 700;
}

.b {
  font-weight: 700;
}

.i {
  font-style: italic;
}

.border-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: transparent url($images-path + 'border-bottom.png') 0 0 repeat-x;
    transition: opacity .3s ease;
    opacity: 1;
  }
  
  &_blue {
    &::after {
      background-image: url($images-path + 'border-bottom-blue.png');
    }
  }

  &_gray {
    &::after {
      background-image: url($images-path + 'border-bottom-gray.png');
    }
  }

  &:hover {
    &::after {
      opacity: .8;
    }
  }
}

.js-hadi {
  display: none;
}

.colorpicker {
  margin: 114px 0 48px 0;

  &__label {
    font-size: 20px;
    color: #343434;
    font-style: italic;
    line-height: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 0 4px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 31px 31px 0;
    border: 3px solid #434053;
    border-radius: 100%;
    background: #fff;

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      top: -3px;
      left: -3px;
      background: #e0e2ed;
      border-radius: 100%;
      z-index: -1;
      transition: transform .3s ease;
    }

    &:last-child {
      margin: 0 0 0 0;
    }

    &_active {
      &::before {
        transform: scale(2.1);
      }
    }
  }
}

.cloudarea {
  overflow: hidden !important;

  &_active {
    height: 41px;
  }
}

.multiline-placeholder-wrap {
  position: relative;
}

.multiline-placeholder {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
}

.icon-fb {
  display: inline-block;
  background: transparent url($images-path + 'sprite.png') map_get($icon_fb, position) no-repeat;
  width: map_get($icon_fb, width);
  height: map_get($icon_fb, height);
  vertical-align: -2px;
}
.icon-vk {
  display: inline-block;
  background: transparent url($images-path + 'sprite.png') map_get($icon_vk, position) no-repeat;
  width: map_get($icon_vk, width);
  height: map_get($icon_vk, height);
}

.fullwidth-image {
  margin-top: 13px;

  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
}

.br-btn-load-img {
  background: url('/bitrix/panel/main/images/waiter-button-light.gif') no-repeat 0 0;
  height: 20px;
  position: absolute;
  width: 20px;
}


@include respond(mobile) {
  .description {
    font-size: 16px;
    line-height: 30px;
  }
  .wiw-page > section {
    padding-left: 20px;
    padding-right: 20px;
  }
}







